body{
    background-image: linear-gradient(to left, blue, lightblue);
    font: normal 18px 'Arial', sans-serif;
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
    margin: auto;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 50px;

}
img{
    border-radius: 50%;
    height: 200px;
width: 250px;

}
div{
    text-align: center;
    margin-bottom: 30px;
}